body {
    background-color: #000;
    background: url(http://159.65.148.210/gamespinning2/image/body-bg.jpg) repeat-x center center;
    background-size: cover;
    backdrop-filter: blur(10px);
}

body:before {
    z-index: 1100;
    position: absolute;
    content: '';
    width: 197px;
    height: 470px;
    top: 0;
    left: 0;
    background-color: red;
    background: url(http://159.65.148.210/gamespinning2/image/bg-left.png) no-repeat -20px 0;
}

body:after {
    z-index: 1100;
    position: absolute;
    content: '';
    width: 187px;
    height: 470px;
    top: 0;
    right: 0;
    background-color: red;
    background: url(http://159.65.148.210/gamespinning2/image/bg-right.png) no-repeat 20px 0;
}

.overlay {
    width: 100%;
    z-index: 500;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(3, 6, 13, 0), rgba(3, 6, 13, 1));
}

.header .container {
	z-index: 10000;
	padding-top: 50px;
}

.header:before {
    z-index: 1000;
    position: absolute;
    content: '';
    width: 100%;
    height: 80px;
    top: 0;
    background-color: red;
    background: url(http://159.65.148.210/gamespinning2/image/header-bg1.png) repeat-x center center;
}

.main-title {
    padding-bottom: 20px;
    color: #fff;
}

@media screen and (max-width: 590px) {
    body:before {
        background: url(http://159.65.148.210/gamespinning2/image/bg-left.png) no-repeat -135px -60px !important;
    }

    body:after {
        background: url(http://159.65.148.210/gamespinning2/image/bg-right.png) no-repeat 135px -60px !important;
    }

    .jumbotron {
    	width: 80%;
    	margin: 0 auto;
    	padding: 20px 0 0 0;
	}

	.top-img-list {
	    min-height: 100px;
	}
}

@media screen and (min-width: 992px) {
    .main-bg:before {
        background: none !important;
    }
}

@media screen and (max-width: 1280px) {
    body:before {
        background: url(http://159.65.148.210/gamespinning2/image/bg-left.png) no-repeat -100px 0;

    }

    body:after {
        background: url(http://159.65.148.210/gamespinning2/image/bg-right.png) no-repeat 100px 0;
    }
}