@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,800&display=swap');

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #fff;
}
.footer-text{
  text-align: center;
  margin-bottom:0;
  padding-top:30px;
  padding-bottom:30px;
}


.bonusText{
    color:white;
    font-size: 22px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: 600;
}
.orange-text {
  color: rgb(255, 123, 0);
}

.navbar {
  height: 30px;
  background: rgba(255,255,255,1);
}

.main-logo {
  display: block;
  width: 30px;
  height: 20px;
  background: url(http://159.65.148.210/gamespinning2/image/main_logo.png) no-repeat top center;
  background-size: 100%;
}

.header {
  position: relative;
  background: url(http://159.65.148.210/gamespinning2/image/body-bg.jpg) repeat-x center bottom;
  background-size: cover;
  padding-bottom: 10px;
}


.jumbotron {
  z-index: 100;
  position: relative;
  margin-bottom: 0;
  padding: 50px 0 0 0;
  background: none;
  background-size: 100%;
  color: #fff;
  font-size: 12px;
}

.jumbotron .heading{
  margin-bottom: 10px;
  font-size: 28px;
  line-height: 28px;
  font-weight: 600;
  text-transform: uppercase;
}

.jumbotron .lead {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 14px;
}

.jumbotron .lead strong {
  font-weight: 600;
}

a.item-button {
  display: inline-block;
  height: 56px;
  margin-bottom: 10px;
  padding: 0 0;
  border-radius: 5px;
  background-color: rgb(19, 156, 42);
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
  line-height: 56px;
  text-align: center;
  font-weight: 600;
  border-bottom: solid #0e7f20 5px;
  box-shadow: 0px 0 15px rgba(98,98,98,.9);
}

a.item-button:hover {
  background-color: #e86607;
  color: #fff;
  text-decoration: none;
  border-bottom: solid #ba5206 5px;
}

footer {
  background-color: rgba(255,255,255,1);
  font-size: 12px;
  color: #000;
}

.container {
  position: relative;
  z-index: 10;
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.main-bg {
  position: relative;
  padding-top: 0px;
}

.main-title {
  margin: 10px auto 10px;
  text-align: center;
  color: #000;
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
}


.main-title span {
  font-size: 18px;
  font-weight: 600;
}

.main-title p {
  font-size: 16px;
  font-weight: 400;
}

.box {
  margin-bottom: 20px;
  padding: 0 0 10px 0;
  background: rgba(242,242,242,1);
  box-shadow: 0px 0 15px rgba(190,190,190,.9);
}

.box div {
  padding-top: 10px;
}

.box div:first-child {
  padding-top: 0;
}


/*info block*/

.image-block{
  height: 100%;
  text-align: center;
  padding-top: 30px !important;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.image-block img {
  max-width: 70%;
  height: auto;
}

.scoreBox {
  padding-bottom: 10px;
  font-size: 16px;
  color: #000;
  text-align: center;
}

.scoreBox a {
  display: block;
  color: #000;
}

.scoreBox a:hover, a:hover strong  {
  text-decoration: none;
  opacity: 0.8;
}

.scoreBox strong {
  display: block;
  font-size: 22px;
  line-height: 26px;
  font-weight: 800;
  color: #e86607;
}

.scoreBox strong i {
  display: block;
  padding: 5px 0;
  font-size: 32px;
  font-style: normal;
}

.scoreBox span {
  display: block;
  font-size: 20px;
  font-weight: 600;
  color: #000;
}

.rating-item {
  display: none;
}

.list {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.list li {
  display: inline-block;
  width: 20px;
  height: 22px;
  margin: 0 1px 0 1px;
  background: url(http://159.65.148.210/gamespinning2/image/star_ico.png) no-repeat top center;
}

.list .half {
  width: 11px;
  background-position: 0 0;
}

.item-data-block {
  margin-bottom: 20px;
  padding-top: 20px;
  font-size: 18px;
  color: #666768;
  text-align: right;
}

.button-block .item-button {
  display: block;
  font-size: 14px;
  margin-bottom: 0;
  text-align: center;
  color: #fff;
}

.button-block a {
  font-size: 12px;
  color: #000;
}

.item-info {
  padding-top: 20px;
  padding-right: 20px;
  font-size: 12px;
  color: #666768;
}

.addition-info {
  display: none;
  padding-top: 0 !important;
  padding-bottom: 10px;
  color: #777;
  font-size: 12px;
}

.addition-info h5 {
  font-size: 14px; 
}

.band {
  position: absolute;
  font-size: 13px;
  padding: 0 25px 0 25px;
  top: 20px;
  left: -10px;
  background: rgb(19, 156, 42);
  border-bottom-right-radius: 10px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.band:before {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  top: -10px;
  left: 0;
  background: rgb(89, 126, 42);
  border-top-left-radius: 10px;
}

.cardbox {
  padding-top: 0!important;
}

.cardbox img {
  width: 27px;
}

.alignment-block {
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (max-width: 575px) {
  .navbar {
    height: 30px;
  }

  .jumbotron {
    padding: 60px 0 5px 0;
    margin-bottom: 0;
  }

  .jumbotron .heading {
    font-size: 16px;
  }

  .jumbotron .lead {
    font-size: 12px;
    margin-bottom: 0;
    padding-bottom: 5px;
  }

  .main-logo {
    position: relative;
    top: -2px;
    width: 30px;
    height: 20px;
  }

  .main-title {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 18px;
  }

  .box {
    padding: 0 0 10px 0;
  }

  .box div {
    padding-top: 10px;
  }

  .box div:first-child {
    padding-top: 10px;
  }

  .scoreBox {
    padding-bottom: 10px;
  }

  .scoreBox strong {
    font-size: 18px;
  }

  .scoreBox strong i {
    display: inline-block;
    font-size: 24px;
  }

  .button-block .item-button {
    font-size: 14px;
  }

  a.item-button {
    height: 44px;
    line-height: 44px;
  }

  .image-block img {
    max-width: 100%;
    height: auto;
  }

  .addition-info {
    padding-top: 10px !important;
    padding-bottom: 10px;
  }

  .band {
    top: -10px;
    padding-top: 0 !important;
  }

  .band:before {
    top: 18px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 10px;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .cardbox {
    margin-top: 5px;
  }
  .cardbox img {
    width: 32px;
  }
  .image-block {
    min-height: 145px;
  }
}

.first-casino-item {
  background-color: rgba(26,26,26,0.9);
  box-shadow: 0px 0 20px rgba(117,117,117,0.9);
}

.first-casino-item strong {
  color: #e86607;
}

.first-casino-item .scoreBox a {
  color: #fff; 
}
.first-casino-item .scoreBox a {
  color: #fff; 
}
.casioText{
  font-weight: 800;
    font-size: 2.5rem;
}
.casiosubText{
  font-size: 16px;
    margin: 0 0 16px;
    padding: 0 0 10px;
}
.casio-img{
  margin:auto;
  display:block;
}

.text-block, .top-img-list {
  margin-bottom: 10px;
  padding: 30px;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 0 15px rgba(190,190,190,.9);
}

.text-block img {
  max-width: 100%;
}

.top-img-list {
  margin-bottom: 0;
  padding: 5px 0 0 0;
  box-shadow: none;
  background-color: transparent;
}

.top-img-list-item {
  display: inline-block;
  padding: 10px 15px;
}

.top-img-list-item span {
  display: block;
  padding-top: 10px;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .header {
    position: relative;
    background: url(http://159.65.148.210/gamespinning2/image/body-bg.jpg) repeat-x center bottom;
    background-size: cover;
  }
  .top-img-list {
    min-height: 120px;
  }

  .top-img-list-item {
    padding: 10px 0;
    display: inherit;
    float: left;
    word-break: break-word;
    width: 20%;
  }

  .top-img-list-item img {
    width: 50%;
  }  

  .top-img-list-item span {
    font-size: 12px;
  }

  .cardbox span {
    display: block;
  }
}

@media screen and (max-width: 575px) {
  .header {
    position: relative;
    background: url(http://159.65.148.210/gamespinning2/image/body-bg.jpg) repeat-x center bottom;
    background-size: cover;
  }

  /* .body-sport-page .main-header {
    background: linear-gradient(to bottom, rgba(0,0,0,.9) 5%,rgba(0,0,0,0) 35%);
    padding-bottom: 0px;
  } */
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media screen and (min-width: 992px) {
  .main-bg:before {
    content: ' ';
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    background: url(http://159.65.148.210/gamespinning2/image/characters-bg3.png) no-repeat 50% 300px;
  }
}

@media (max-width: 768px){
  .mobile-view{
    display: block;
  }
  .laptop-view{
    display:none;
  }
}
@media (min-width: 768px){
  .mobile-view{
    display: none;
  }
  .laptop-view{
    display:block;
  }
}